
header{
    background-color:lightblue;
    height:140px;
}

h1{
    position:absolute;
    text-align:center;
    line-height:100px;
    width:auto;
    text-align:center;
    height:90px;
    white-space:pre-line;
}

#mytwitter{
    position:absolute;
    font-size:15px;
    display:inline-block;
    top:15%;
    right:5%;
}

.wikipedia{
    display:inline-block;
}

.explain{
    background:linear-gradient(to bottom,white,yellow);
}

.kosu3{
    font-family: 'Rubik', sans-serif;
    font-size:1.5em;
}

.yosa{
    margin-left:40px;
}

